body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: "antialiased";
  color: #232323;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

nav li:last-child a {
  background: #fe5f1e;
  transition: all 0.3s ease-in-out;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

section.hero {
  background: #faeded;
}

section.cart {
  background: #faeded;
}
section.cart .amount {
  color: #fe5f1e;
}

.sized {
  background-color: aqua;
}

.add-cart {
  border: 2px solid #fe5f1e;
  -moz-columns: #fe5f1e;
       columns: #fe5f1e;
  transition: all 0.3s ease-in-out;
}
.add-cart:hover {
  background-color: #fe5f1e;
  color: #fff;
  border-color: #fff;
}

.btn-primar {
  background-color: #fe5f1e;
  transition: all 0.3s ease-in-out;
}
.btn-primar:hover {
  background-color: #b23301;
}

section.login {
  background-color: #faeded;
  min-height: calc(100vh - 86px);
}
section.login a {
  background-color: #faeded;
}
section.login a:hover {
  background-color: #b23301;
}
