@import "./variables";

body {
  font-family: "Lato", "sans-serif";
  -webkit-font-smoothing: "antialiased";
  color: $dark;
}
nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

nav li:last-child a {
  background: $primary;
  transition: $smooth;
  &:hover {
    background-color: $primary_hover;
  }
}

section.hero {
  background: $secondary;
}
section.cart {
  background: $secondary;
  .amount {
    color: $primary;
  }
}
.sized {
  background-color: aqua;
}

.add-cart {
  border: 2px solid $primary;
  columns: $primary;
  transition: $smooth;
  &:hover {
    background-color: $primary;
    color: $pure;
    border-color: $pure;
  }
}
.btn-primar {
  background-color: $primary;
  transition: $smooth;
  &:hover {
    background-color: $primary_hover;
  }
}
section.login {
  background-color: $secondary;
  min-height: calc(100vh - 86px);
  a {
    background-color: $secondary;
    &:hover {
      background-color: $primary_hover;
    }
  }
}
